---
import BaseLayout from "../layouts/BaseLayout.astro";
import '@fontsource/atkinson-hyperlegible'
import '@fontsource/maple-mono'
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class="text-ctp-mauve">My ame blog subtitle @@</h2>
</BaseLayout>
