---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSelector from "../components/PageSelector.astro";

const pageTitle = "Aster's makings 🔨";
---


<BaseLayout pageTitle={pageTitle} blurb={null} blahaj={true}>
  <PageSelector page={"projects"}/>

  <h1>UNDER CONSTRUCTION</h1>
</BaseLayout>
