---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageSelector from "../components/PageSelector.astro";

const pageTitle = "OWO what's this";
---


<BaseLayout pageTitle={pageTitle} blurb={null} blahaj={false}>
  <PageSelector page={"stuff"}/>

  <h1>UNDER CONSTRUCTION</h1>
</BaseLayout>
