---
interface Props {
  buttonText: string,
  href: string,
  active: boolean
}

const { buttonText, href, active } = Astro.props;
---
<a href={active ? "/" : href} class:list={["border-surface0 bg-ctp-base  focus-visible:border-accent group block overflow-hidden rounded-xl border shadow-lg p-3 text-center font-bold text-xl transition-all duration-300 hover:border-ctp-mauve", active && "bg-ctp-mauve text-ctp-crust"]}>{buttonText}</a>
