---
interface Props {
  buttonText: String,
  href: String,
}

const { buttonText, href } = Astro.props;
---
<a href={href} class="border-surface0 bg-base hover:border-ctp-mauve focus-visible:border-accent group block overflow-hidden rounded border shadow-lg transition-all duration-300 hover:shadow-xl focus:outline-none p-2 text-center font-bold text-xl">{buttonText}</a>
