---
import { render } from 'astro:content';
import Blahaj from './Blahaj.jsx'

interface Props {
  pageTitle?: string,
  blurb?: any,
  blahaj: boolean
}

const { pageTitle, blurb, blahaj } = Astro.props;
let Content;
if (blurb) {
  ({ Content } = await render(blurb));
}
---

<header
  class="mx-auto mt-8 w-full flex max-w-6xl flex-row justify-between box-border">
    <div class="max-w-[66%]">
      <div class="flex text-5xl font-semibold gap-x-6 leading-[1.4]">
        <a href="/">𖤐</a>
        <h1 class="enby-text text-nowrap" data-text={pageTitle}>{ pageTitle }</h1>
      </div>
      <div class="blurb-content">
    
        {blurb && <Content/>}
      </div>
    </div>
    <div class="max-w-[33%]">
      {blahaj && <Blahaj client:load transition:persist/>}
    </div>

<script is:inline data-astro-rerun>
  document.querySelectorAll('.enby-text').forEach(el => {
    el.addEventListener('mouseenter', () => {
      if (el.classList.contains('is-animating')) {
        return;
      }
      el.classList.add('is-animating');    
      setTimeout(() => {
        el.classList.remove('is-animating');
        void el.offsetWidth;                
      }, 3000);
    });
  });
</script>
</header>
