---
import { render } from 'astro:content';
import Blahaj from './Blahaj.jsx'

interface Props {
  pageTitle?: string,
  blurb?: any,
  blahaj: boolean
}

const { pageTitle, blurb, blahaj } = Astro.props;
let Content;
if (blurb) {
  ({ Content } = await render(blurb));
}
---

<header
  class="mx-auto pt-8 px-8 w-full flex max-w-7xl flex-row">
    <div>
      <div class="flex text-5xl font-semibold gap-x-6 leading-[1.4]">
        <a href="/">𖤐</a>
        <h1 class="enby-text" data-text={pageTitle}>{ pageTitle }</h1>
      </div>
      <div class="blurb-content">
        {blurb && <Content/>}
      </div>
    </div>

    {blahaj && <Blahaj client:load/>}
<script>
  import '../util/title.js';
</script>
</header>
