---
import Button from "./Button.astro"

interface Props {
  page: string;
}

const { page } = Astro.props;

---
  <div class="grid grid-cols-3 gap-4 mx-auto py-4 w-full max-w-6xl">
    <Button buttonText="Blog" href="/blog" active={page === "blog"}/>
    <Button buttonText="Projects" href="/projects" active={page === "projects"}/>
    <Button buttonText="Stuff" href="/stuff" active={page === "stuff"}/>
  </div>
